<div class="row">
  <div class="six columns">
    <canvas data-processing-sources="/processing/app.pde"></canvas>
  </div>
  <div class="six columns">
    <h2>I'm listening to</h2>    
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.artist.name %> - <%= track.title %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="msg">  
</div>
<script type="application/javascript">
    var jsString = "Hello from JavaScript!";
    var radius;
    var delay;
    var setupAvatar = function() {
      radius = <%= rand(100).to_f %>;
      delay = <%= rand(16) %>
    }
    var printMessage = function (msg) {
      document.getElementById('msg').innerHTML = "Message: " + msg;  
    };
</script>  
