<div class="row">
  <div class="six columns">
    <canvas data-processing-sources="/processing/app.pde"></canvas>
  </div>
  <div class="six columns">
    <h2>I'm listening to</h2>    
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.artist.name %> - <%= track.title %></li>
      <% end %>
    </ul>
  </div>
</div>
