@font-face {
    font-family: 'MuseoSans500';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab500';
    src: url('Museo_Slab_500-webfont.eot');
    src: url('Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500-webfont.woff') format('woff'),
         url('Museo_Slab_500-webfont.ttf') format('truetype'),
         url('Museo_Slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { background-color: #0a171b; color: #cfc392; font-family: MuseoSans500; }
.container { background-color: #20211c; }
h1 a, h1 a:visited, .header h5 { font-family: 'Rammetto One', cursive; color: #e0a929; text-decoration: none; }
span.monster { text-decoration: line-through; }
h2, h3 { color: #cfc392; font-family: MuseoSlab500; color: #B75819; font-weight: 900;}
hr { border: solid #545642; }

footer { margin-top: 1em; }
footer .container { background-color: #0a171b; }
a { color: #767a68; }
a:visited { color: #767a68; }
